/*Categoria de perguntas css*/

.CorrectQuestion {
  border: 3px solid rgb(6, 240, 15);
}

.incorrectQuestion {
  border: 3px solid rgb(255, 0, 0);
}

/*Caixa com perguntas e nome do jogar*/

.nameOfPlayer {
  color: black;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  position: absolute;
  width: 205px;
}

.boxWithPlayerName {
  background: gray;
  height: 20px;
  position: absolute;
  width: 377px;
}

.QuestionsBox {
  background: #C4C4C4;
  height: 291px;
  position: absolute;
  width: 296px;
}

.textQuestion {
  color: black;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  height: 215px;
  line-height: 35px;
  position: absolute;
  width: 273px;
}


.photoDefault {
  border-radius: 112.5px;
  height: 50px;
  position: absolute;
  width: 50px;
}

.score {
  color: black;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  position: absolute;
  width: 143px;
}

/*Conteudo da pagina de feedback*/

.feedBack {
  color: black;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: normal;
  height: 188px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  width: 396px;
}

.rankingBar {
  color: black;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  height: 38px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  width: 204px;
}

/* Css de configurações*/

.systemOption {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  height: 47px;
  line-height: 47px;
  position: absolute;
  text-align: center;
  width: 258px;
}

.configCategoryName {
  color: black;
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: normal;
  height: 36px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  width: 134px;
}

.sistemDificult {
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: normal;
  height: 36px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  width: 155px;
}

.typeOfGame {
  color: black;
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: normal;
  height: 36px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  width: 62px;
}

.categoryBar {
  border: solid black 1px;
  display: flex;
  height: 20px;
  margin-top: 30px;
  width: auto;
}

.boxQuestion {
  background-color: white;
  border: 1px solid black;
  flex-wrap: nowrap;
  height: 300px;
  margin-left: 500px;
  width: 377px;
}
